*{
    margin:0; 
    padding:0;
    
    line-height: 24px; 
    
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    height: 100%; 

    
}

.wrapper .header .items-head{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
      
}

h1{
    font-size: 22px;
}

.dateTime{
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row; 
    margin-top: 10px;  

}


.butMeeting {
    margin: auto;
    padding-top: 10px;
    
    width: 140px;
    height: 36px;    
    text-align: center;
    color: #fff;
    background-color: #007dff;
    border-radius: 5px;
    border: 0;

   
}
.date a {
    text-decoration: none;

}
.butMeeting:link{
    background-color: #007dfe;
    border:none;
    outline: none;
}

.butMeeting:hover{
    background-color: #0059ff;
    border:none;
    outline: none;
}
.butMeeting:active{
    background-color: #0111fd;
    border:none;
    outline: none;
}
#Ya{
    color: red;
}

.binder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 15px;
}

.diagram{
    border: 1px solid #000;
}